.flex-div-parent {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 30px
}

.child-container {
    flex: 1; 
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    justify-content: center;
}

#component-div{
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}
.no-data-template{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}