<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create New Product</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <form (ngSubmit)="createProduct()" [formGroup]="productForm">
          <div class="field">
            <label class="label">Product Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Product name:" formControlName="productName" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Weight</label>
            <div class="control">
              <input class="input" type="number" placeholder="Product weight: " formControlName="weight" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Fragile</label>
            <div class="control">
              <input class="input" type="checkbox" formControlName="fragile" [value]="true">
            </div>
          </div>
          <div class="field">
            <label class="label">Amount</label>
            <div class="control">
              <input class="input" type="number" placeholder="Amount available:" formControlName="amount" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Product Type</label>
            <div class="control">
              <input class="input" type="text" formControlName="productType" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Price</label>
            <div class="control">
              <input class="input" type="number" placeholder="Price:" formControlName="price" required>
            </div>
          </div>
      
      <footer class="modal-card-foot">
        <button class="button is-danger" type="button" (click)="closeModal()">Cancel</button>
        <button class="button is-success" type="submit" [disabled]="productForm.invalid">Insert</button>
      </footer>
      </form>
    </section>
    </div>
  </div>
  
   <!-- <div class = "modal is-active" *ngIf="isModalOpen">
    <div class = "modal-background">
    <div class="modal-content has-background-white py-5 px-5">
      
        <div class="container">
          <h1 class="title">Insert Product</h1>
          <form [formGroup] = "insertForm">
            {{insertForm.value | json}}
            
            <div class="field">
              <label class="label">Product Name</label>
              <div class="control">
                <input class="input" type="text" name="product-name" formControlName ="productName" required>
              </div>
            </div>
      
            <div class="field">
              <label class="label">Weight</label>
              <div class="control">
                <input class="input" type="number" name="weight" formControlName = "weight" required>
              </div>
            </div>
      
            <div class="field">
              <label class="label">Fragile</label>
              <div class="control">
                <div class="select">
                  <select name="fragile" formControlName="fragile" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>
                </div>
              </div>
            </div>
      
            <div class="field">
              <label class="label">Amount</label>
              <div class="control">
                <input class="input" type="number" name="amount" formControlName="amount" required>
              </div>
            </div>
      
            <div class="field">
              <label class="label">Product Type</label>
              <div class="control">
                <div class="select">
                  <select name="product-type" formControlName="productType" required>
                    <option value="" disabled selected>Select a type</option>
                    <option *ngFor="let type of productTypes" [value]="type">{{ type }}</option>
                  </select>
                </div>
              </div>
            </div>
      
            <div class="field">
              <label class="label">Price</label>
              <div class="control">
                <input class="input" type="number" name="price" formControlName="price" required>
              </div>
            </div>
      
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-warning"(click)="alterModal()">Cancel</button>
              </div>
              <div class="control">
                <button class="button is-success"(click)="submitProduct()"
                [disabled]="insertForm.invalid">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
   -->