<!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    </head>
    <body>

<h1 class="title">Product data:</h1>
<div class="search-container">
  <label for="search" class="search-label">Search:</label>
  <br>
  <input type="text" id="search" [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-input">
</div>
<div class = "table-div">
<table class="table is-bordered is-hoverable is-fullwidth custom-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Weight</th>
      <th>Fragile</th>
      <th>Amount</th>
      <th>Product Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts" (click)="selectProduct(product)">
      <td>{{ product.id }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.weight }}</td>
      <td>{{ product.fragile }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.price }}</td>
      <!-- <td><button >Update</button></td> -->
      <!-- <td><button >Delete</button></td> -->
    </tr>
  </tbody>
</table>
</div>
<div class="button-container bottom-div" >
  <button class="delete-button" (click)="alterModalDelete()">Delete</button>
  <button class="insert-button" (click)="alterModal()">Insert</button>
  <button class="update-button" (click)="updateSelectedProduct(selectedProduct)">Update</button>
</div>

 <div class = "modal is-active" *ngIf="isModalOpen">
  <div class = "modal-background">
  <div class="modal-content has-background-white py-5 px-5">
    
      <div class="container">
        <h1 class="title">Insert Product</h1>
        <form [formGroup] = "insertForm">
          {{insertForm.value | json}}
          
          <div class="field">
            <label class="label">Product Name</label>
            <div class="control">
              <input class="input" type="text" name="product-name" formControlName ="productName" required>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Weight</label>
            <div class="control">
              <input class="input" type="number" name="weight" formControlName = "weight" required>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Fragile</label>
            <div class="control">
              <div class="select">
                <select name="fragile" formControlName="fragile" required>
                  <option value="" disabled selected>Select an option</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Amount</label>
            <div class="control">
              <input class="input" type="number" name="amount" formControlName="amount" required>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Product Type</label>
            <div class="control">
              <div class="select">
                <select name="product-type" formControlName="productType" required>
                  <option value="" disabled selected>Select a type</option>
                  <option *ngFor="let type of productTypes" [value]="type">{{ type }}</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Price</label>
            <div class="control">
              <input class="input" type="number" name="price" formControlName="price" required>
            </div>
          </div>
    
          <div class="field is-grouped bottom-div">
            <div class="control">
              <button class="button is-warning"(click)="alterModal()">Cancel</button>
            </div>
            <div class="control">
              <button class="button is-success"(click)="submitProduct()"
              [disabled]="insertForm.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>

  <div class = "modal is-active" *ngIf="isModalDeleteOpen">
    <div class = "modal-background">
    <div class="modal-content has-background-white py-5 px-5">
      
        <div class="container">
          <h1 class="title">Delete Product</h1>
          <form [formGroup] = "insertForm">
            
            <div style="text-align: center;">
              <p>Are you sure you want to delete this product? This cannot be undone.</p>
            
            <button class="delete-button" (click)="deleteProduct(selectedProduct)">Delete</button>
            <button class="button is-warning" (click)="alterModalDelete()">Cancel</button>
          </div>

          </form>
        </div>
      </div>
      </div>
    </div>

<app-product-update
[isModalOpen]="isModalUpdateOpen"
[product]="selectedProduct"
></app-product-update>
 