<!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    </head>
    <body class="body">

<h1 class="title">Product data:</h1>
<div class="search-container">
  <label for="search" class="search-label">Search:</label>
  <br>
  <input type="text" id="search" [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-input">
</div>
<div class = "table-div">
<table *ngIf="filteredProducts.length >0; else noProducts" class="table is-bordered is-hoverable is-fullwidth custom-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Weight</th>
      <th>Fragile</th>
      <th>Amount</th>
      <th>Product Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr [style.border]="selectedProduct===product ? '5px solid #2e7d32' : 'none'"
     *ngFor="let product of filteredProducts; let i = index" (click) = "selectProduct(product)">
    <!-- <tr [style.border]="selectedProduct ? '5px solid #2e7d32' : 'none'"
     *ngFor="let product of filteredProducts" (click)="selectProduct(product)"> -->
      <td>{{ product.id }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.weight }}</td>
      <td>{{ product.fragile }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.price }}</td>
      <!-- <td><button >Update</button></td> -->
      <!-- <td><button >Delete</button></td> -->
    </tr>
  </tbody>
</table>
</div>
<div class="button-container bottom-div" >
  <button class="delete-button" (click)="alterModalDelete()">Delete</button>
  <button class="insert-button" (click)="alterModal()">Insert</button>
  <button class="update-button" (click)="updateSelectedProduct(selectedProduct)">Update</button>
</div>


  <div class = "modal is-active" *ngIf="isModalDeleteOpen">
    <div class = "modal-background">
    <div class="modal-content has-background-white py-5 px-5">
      
        <div class="container">
          <h1 class="title">Delete Product</h1>
          <form [formGroup] = "insertForm">
            
            <div style="text-align: center;">
              <p>Are you sure you want to delete this product? This cannot be undone.</p>
            
            <button class="delete-button" (click)="deleteProduct(selectedProduct)">Delete</button>
            <button class="button is-warning" (click)="alterModalDelete()">Cancel</button>
          </div>

          </form>
        </div>
      </div>
      </div>
    </div>

<app-product-update
[isModalOpen]="isModalUpdateOpen"
[product]="selectedProduct"
[title]="'Update Product'"
[buttonText]="'Update'"
[modalMethod]="alterProduct"
(updatedProduct)="handleUpdatedProduct($event)"
></app-product-update>
 
<app-product-update
[isModalOpen]="isModalOpen"
[product]="{
  id: undefined,
  productName: '',
  weight: undefined,
  fragile: false,
  amount: undefined,
  type: '',
  price: undefined
}"
[title]="'Insert Product'"
[buttonText]="'Insert'"
[modalMethod]="submitProduct"
(updatedProduct)="handleUpdatedProduct($event)"
></app-product-update>

<!-- <ng-template #no-products>There are no such products.</ng-template> -->

<ng-template #noProducts>
  <h1>There are no products to display.</h1>
</ng-template>