<!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    </head>
    <body>

<h1 class="title">Bill of lading</h1>
<div class="flex-display-div">
<div class="note-div">
    <label class="info-label">Receiver: </label>
    <br>
    <select [disabled]="!isNaturalPersonSelected" id="natural-person-list" [(ngModel)]="selectedNaturalPerson">
        <option value="" disabled selected>Select a Natural Person</option>
        <option *ngFor="let person of naturalPersons" [ngValue]="person">{{person.name + " " + person.lastName}}</option>
    </select>
    <button (click)="personTypeSwitch()">Switch state</button>
    <select [disabled]="isNaturalPersonSelected" id="legal-person-list" [(ngModel)]="selectedLegalPerson">
      <option value="" disabled selected>Select a Legal Person</option>
      <option *ngFor="let person of legalPersons" [ngValue]="person">{{person.firmName}}</option>
  </select>
    <br>
    <label class="info-label">Firm:</label>
    <br>
    <select id="firm-list" [(ngModel)]="selectedFirm">
        <option value="" disabled selected>Select a Firm</option>
        <option *ngFor="let firm of firms " [ngValue]="firm">{{firm.firmName}}</option>
    </select>
  </div>
    <div class="total-cost-div">
      <label class="info-label">Total Price: </label>
      <input class="input-class" type="text" disabled [value]="totalCost">
  </div>
</div>
    <br>
    <div class="dates">
      <div class="child-date">
        <label class ="info-label">Issue Date:</label>
        <br>
        <input type="text" bsDatepicker placeholder="input your date here:"
        class = "form-control" [(ngModel)]="selectedIssueDate">
      </div>
      <div class="child-date">
        <label class="info-label">Due Date:</label>
        <br>
        <input type="text" bsDatepicker placeholder="input your date here:"
        class = "form-control" [(ngModel)]="selectedDueDate">
    </div>
    <div class="button-div">
      <button class="button is-bordered is-warning" (click)="submitBill(newBill)">Submit</button>
    </div>
    <div id ="item-inputs" class = "child-date">
      <select name="products-select" [(ngModel)]="selectedProduct">
          <option value="" disabled selected [ngValue]="null">Please pick a product to order:</option>
          <option selected *ngFor="let product of products" [ngValue]="product">{{product.productName}}</option>
      </select>
      <br><br>
      <button class="item-button button is-success" name="add" (click)="addNewItem(selectedProduct)">Add Item</button>
      <button class="item-button button is-danger" name="delete" (click)="deleteSelectedItem(selectedItem)">Delete Item</button>
  </div>
</div>
    
    
<div class="table-div">
<table *ngIf="billOfLadingItems.length > 0" class="table is-bordered is-hoverable is-fullwidth custom-table">
  <thead class="custom-table-head">
    <tr>
      <th>Ordinal No.</th>
      <th>Product Name</th>
      <th>Product Qty.</th>
      <th>Price (per unit)</th>
      <th>Price (gross)</th>
    </tr>
  </thead>
  <tbody class = "custom-table-body">
    <tr [style.border]="selectedItem===item ? '5px solid #2e7d32' : 'none'"
     *ngFor="let item of billOfLadingItems; let i = index" (click) = "selectItem(item)">
      <td>{{ i+1 }}</td>
      <td>{{ item.product.productName }}</td>
      <td>{{ item.amountSold }} <button (click)="changeAmountOrdered()">Change</button></td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.product.price * item.amountSold }}</td>
      <!-- <td><button >Update</button></td> -->
      <!-- <td><button >Delete</button></td> -->
    </tr>
  </tbody>
</table>
</div>
<app-product-display [productToDisplay]="selectedProduct"></app-product-display>

<div class = "modal is-active" *ngIf="setOrderAmountModal">
  <div class = "modal-background">
  <div class="modal-content has-background-white py-5 px-5">
    
      <div class="container">
        <h1 class="title">Set Order Amount for Product:</h1>
        <form>
          <div style="text-align: center;">
            <p>Set a positive value:</p>
            <input type = "number" name = "amount-input" required 
             min="1" max="10000"
             [(ngModel)]="amountToOrder">
          <button class="delete-button" (click)="setOrderAmountForProductInItem(selectedItem,amountToOrder )">Set Amount</button>
          <button class="button is-warning" (click)="changeAmountOrdered()">Cancel</button>
        </div>

        </form>
      </div>
    </div>
    </div>
  </div>

<app-modal-message
*ngIf="isModalMessageOpen"
[displayMessage]="displayMessage"
(modalClosed)="handleModalClosedEvent($event)"
></app-modal-message>